<div class="result_container">
    <div>
        <span style="font-size: 2em; margin: 0px 40px 0px 40px;"><%= drugA %></span>
        <img style="vertical-align: middle;" width="50em" height="50em" src="images/interaction.png"/>
        <span style="font-size: 2em; margin: 0px 40px 0px 40px;"><%= drugB %></span>
    </div>
    <div>
        <h3>Interaction</h3>
        <p><%= interaction %></p>
    </div>
</div>